@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background-color: #4b0696;
}

.titulo{
    text-align: center;
    padding-bottom: 5px;
}

.titulo > h1 {
    font-family: 'Montserrat', sem serifa;
    font-size: 45px;
    font-weight: 800;
    color: rgb(93, 150, 255);
    margin: auto;
    padding-top: 10px;
}

.titulo > p{
    font-size: 15px;
    font-family: 'Montserrat', sem serifa;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.playlist{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-bottom: 8px;
}

.musica{
    width: 280px;
    height: 360px;
    border-radius: 30px;
    background: #5709aa;
    box-shadow:  7px 9px 40px #3a0474c2,
                 -7px -9px 40px #640ac4ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 85%;
    gap: 13px;
}

.musica:hover{
    scale: 1.15;
    opacity: 100%;
    transition: .5s;
    box-shadow:  1px 1px 13px #02000333;
}

.artista{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.artista > h1{
    color: white;
    font-family: 'Montserrat', sem serifa;
    font-size: 11px;
    font-weight: 200;
}

.artista > p{
    color: white;
    font-family: 'Montserrat', sem serifa;
    font-size: 16px;
    font-weight: 700;
}

.spotify{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background-color:#1ED760;
    cursor: pointer;
}

.spotify > a > h1 {
    text-decoration:solid;
    font-family:'Montserrat', sem serifa;
    color: #ffffff;
    font-size: 15px;
    text-shadow: none;
}

.imagem{
    border-radius: 8px;
    width: 230px;
    height: 230px;
    background-color: aliceblue;
    background: #4b0696;
}

#imagem1{
    background-image: url(../imagens/postmalone.jpg);
    background-size: cover;
    box-shadow: 0px 0px 10px #010008;
}

#imagem2{
    background-image: url(../imagens/harrystyles.jpg);
    background-size: cover;
    box-shadow: 0px 0px 10px #f0decaa2
}

#imagem3{
    background-image: url(../imagens/redbone.jpg);
    background-size: cover;
    box-shadow: 0px 0px 10px #d3251c77
}

.rodape{
    text-align: center;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.rodape > h1{
    font-family: 'Montserrat', sem serifa;
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding-bottom: 5px;
}

#botao{
    width: 280px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(93, 150, 255);
}

.rodape > #botao > h1 {
    font-family: 'Montserrat', sem serifa;
    color: #4b0696;
    font-size: 50px;
    font-weight: 800;
    font-size: 22px;
    margin: auto;
}